body{
    background-image:url("https://i.pinimg.com/736x/a4/1a/39/a41a39c5137dbaa2ff4b85ced763e6cf.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.box{
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height:100%;
    width:100%;
    position: fixed;

}
.container{
    width:300px;
    height:400px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border:2px solid white;
    border-radius: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    margin:0%;
    align-items: center;
    background-color:transparent;
    flex-direction: column;
    overflow: hidden;
}
.container > div{
    margin:10px;
}
.header{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:light;
    position: relative;
    font-size: medium;
    background-color: transparent;
    transform:translateY(-20px);
}
.ifield{
    color:white;
    background-color: transparent;
    transform:translateY(-10px);
}
input{
    color:white;
    border:none;
    outline: none;
    border-bottom: 2px solid white;
    width:250px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    position: relative;
    font-size: large;
}

.usericon{
    position:absolute;
    font-size: medium;
    font-weight:lighter ;
    left: 93%;
    bottom:4px;

}
.formcontainer{
    transform: translateY(30px);
    background-color: transparent;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    color:white;
    width:100%;
}
.icons > i{
    margin:15px;
    font-size: medium;  
}

.btn{
    border-radius: 10px;
    width:200px;
    height:25px;
    border: none;
    text-align: center;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: large;
    transform: translateY(30px);
}
.btnp{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backlogin{
    background-color:transparent;
    color:white;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:50px;
}
.backlogin  a{
    text-decoration: none;
    color:white;
}
.backlogin a:hover{
    text-decoration: underline;
}
.both{
    padding-top: 50px;;
}
.errormsg{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    transform: translateY(-20px);
    position: absolute;
}
.emailcontainer{
    background-color: transparent;
}
.emailcontainer > div{
    column-gap: 10px;
    color:white;
}
.passwordcontainer{
    background-color: green;
    position: absolute;
    top:0px;
    left:280px;
}
.emsg{
    color:red;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    display: none;
    transform: translateY(-10px);
}
  
