
body{
  background-image:url("https://i.pinimg.com/736x/a4/1a/39/a41a39c5137dbaa2ff4b85ced763e6cf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0%;
  
}
.container{
  width:100%;
  height:100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.form_container{
  width:300px;
  height:450px;
  backdrop-filter:blur(20px);
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  border:2px solid white;
  border-radius: 19px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.form_container > div{
  width:100%;
  background-color: transparent;
}
label{
  color:white;
}
input{
  background-color: transparent;
  outline: none;
  border:none;
  color:white;
  font-size: large;
  width:80%;
  border-bottom: 2px solid white;
}
.arrange{
  color:white;
  background-color: transparent;
  width:100%;
  height:auto;
  margin-top:50px;
}
.arrange > div > label, input{
  margin-left:25px;
}
.arrange > div{
  padding-top:30px;
}
.arrange > div > i{
  transform: translateX(-20px);
}
.heading{
  margin-top:10px;
  text-align: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;


}
.icons{
  color:white;
  width:100%;
  background-color: transparent;
  margin-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons > i{
  font-size: large;
  margin:20px;
}
.btnholder{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  transform: translateY(1px);
  background-color: transparent;
 
}
.btn{
  background-color: white;
  border:none;
  color:black;
  width:200px;
  height:30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border-radius: 19px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);

}
.registerpageholder{
  background-color: transparent;
  width:100%;
  color:white;
  display: flex;
  justify-content: center;
  padding-top:40px;
  align-items: center;
}
.registerpageholder > p>a{
  color:white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.registerpageholder > p>a:hover{
  text-decoration: underline;
}
.msgbar{
  background-color: white;
  color:black;
  width:200px;
  height:50px;
  position: absolute;
  left:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
  border-radius: 9px;
  z-index:999;
}
.emsg{
  position: absolute;
  margin-left:25px;
  transform: translateY(-10px);
  font-size: small;
  color:red;
  display: none;
}

.forget{
  color:white;
  text-decoration: none;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  transform: translateX(-128px) translateY(30px);
  
  background-color: transparent;
  
}
